[defaults]
ansible_user 		= root
ansible_connection 	= ssh
inventory 		= ./inventory.yaml
log_path 		= ./logs/ansible.log
stdout_callback 	= yaml

remote_user 		= root
private_key_file 	= ../ansible.secret

[privilege_escalation]
become 			= True
become_method 		= sudo
become_user 		= root
# become_ask_pass 	= True
# execute a module on the remote server. This can result in a significant 
# performance improvement when enabled, however when using "sudo:" you must 
# first disable 'requiretty' in /etc/sudoers
#
# By default, this option is disabled to preserve compatibility with
# sudoers configurations that have requiretty (the default on many distros).
# 

[ssh_connection]
pipelining 			= True

# if True, make ansible use scp if the connection type is ssh 
# (default is sftp)
scp_if_ssh 			= True
